.pmd-textfield-focused {
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	width: 100%;
	height: 2px;
	display: none;
	top: -1px;
	background-color: #4285f4;
	-ms-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	position: relative;
	z-index: 2;
}
.pmd-textfield.pmd-textfield-floating-label-active .pmd-textfield-focused {
	-ms-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.form-group.pmd-textfield {
	position:relative;
}
.pmd-textfield .form-control {
	height: 38px;
	outline: none;
}
.pmd-textfield label {
	font-weight: normal;
	line-height: 1.4;
	font-size: 0.875rem;
	color: rgba(0, 0, 0, 0.54);
	margin-bottom: 0;
}
.pmd-textfield-floating-label {
	position: relative;
}
.pmd-textfield-floating-label label {
	-ms-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	margin: 0;
	font-size: 13px;
	line-height: 38px;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	pointer-events: none;
	position: absolute;
	top:0;
	left:12px;
	z-index: 1;
}
.pmd-textfield-floating-label .form-control {
	position: relative;
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
	-ms-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	font-size: 11px;
	color: rgba(0, 0, 0, 0.45);
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label:before {
	content: "";
	position: absolute;
	right: -5px;
	top: 20px;
	background: #fff;
	z-index: -1;
	height: 2px;
	left: -5px;
}
.pmd-textfield.has-success .form-control {
	color: #259b24;
	border-color: #259b24;
}
.pmd-textfield.has-success .form-control ~ .pmd-textfield-focused {
	background-color: #259b24;
}
.pmd-textfield.has-success .form-control ~ .has-error-text {
	color: #259b24;
	display: block;
}
.pmd-textfield.has-success .form-control:focus {
	box-shadow: none;
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed.has-success label {
	color: #259b24;
}
.has-success .control-label, .has-success .help-block {
	color: #259b24;
}
.pmd-textfield.has-warning .form-control {
	color: #ffc107;
	border-color: #ffc107;
}
.pmd-textfield.has-warning .form-control ~ .pmd-textfield-focused {
	background-color: #ffc107;
}
.pmd-textfield.has-warning .form-control ~ .has-error-text {
	color: #ffc107;
	display: block;
}
.pmd-textfield.has-warning .form-control:focus {
	box-shadow: none;
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed.has-warning label {
	color: #ffc107;
}
.has-warning .control-label, .has-warning .help-block {
	color: #ffc107;
}
.pmd-textfield.has-error .form-control {
	color: #ff5722;
	border-color: #ff5722;
}
.pmd-textfield.has-error .form-control ~ .pmd-textfield-focused {
	background-color: #ff5722;
}
.pmd-textfield.has-error .form-control ~ .has-error-text {
	color: #ff5722;
	display: block;
}
.pmd-textfield.has-error .form-control:focus {
	box-shadow: none;
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed.has-error label {
	color: #ff5722;
}
.has-error .control-label, .has-error .help-block {
	color: #ff5722;
}
.pmd-textfield.has-error .form-control:invalid {
 color: form-state-colors("error");
}
.pmd-textfield.has-error .form-control:invalid ~ .pmd-textfield-focused {
 background-color: form-state-colors("error");
}
.pmd-textfield.has-error .form-control:invalid ~ .has-error-text {
 color: form-state-colors("error");
 display: block;
}
.help-block {
	font-size: 14px;
	margin-top: 0;
}
.has-error-text {
	display: none;
}
.pmd-textfield .input-group-addon {
	border: none;
	background-color: transparent;
	padding: 0;
}
.pmd-textfield .input-group-addon:first-child {
	padding-left: 16px;
}
.pmd-textfield .input-group-addon:last-child {
	padding-right: 16px;
}
.pmd-textfield .input-group .form-control {
	float: inherit;
	z-index: inherit;
}
.pmd-input-group-label {
	padding-right: 40px;
}


select.form-control {
	color:#555 !important;
}